<h3>नमस्ते,</h3>
<p>लगता है कि आपने या तो अपना पासवर्ड रीसेट करने का अनुरोध किया है क्योंकि आप इसे भूल गए हैं, या हो सकता है कि आपने एक नया अकाउंट बनाया हो। यह
    टोकन है <code>{{ token }}</code> जिसे आपको उपयोग करने की आवश्यकता है। इसे भेजने के लिए निम्न JSON प्रारूप में इस टोकन का उपयोग करें
    और इस तरह से भेजें <code>POST /user/new_password/&lt;reset_token&gt;</code>.</p>
<pre><code>
    {
        "new_password": "&lt;आपका_पासवर्ड&gt;"
    }
</code></pre>
<p>
    धन्यवाद और सादर,
    HTTP Quiz
</p>
